/* line 4, ../sass/theme.scss */
a { color: #ff1d44; }
/* line 6, ../sass/theme.scss */
a:hover { color: #000; }

/* line 11, ../sass/theme.scss */
body { background: #fbebaf; }

/* line 15, ../sass/theme.scss */
.navbar { background: #ff1d44; }

/* line 20, ../sass/theme.scss */
.nav a { color: #fbebaf !important; }
/* line 22, ../sass/theme.scss */
.nav a:hover { background: #fbebaf !important; color: #ff1d44 !important; }

/* line 29, ../sass/theme.scss */
.navbar-brand { color: #fbebaf; }

/* line 33, ../sass/theme.scss */
td { vertical-align: middle; }
