$bg: #fbebaf; // yellow
$fg: #ff1d44; // red

a{
    color: $fg;
    &:hover{
        color: #000;
    }
}

body{
    background:$bg;
}

.navbar{
    background:$fg;
}

.nav{
    a{
        color: $bg !important;
        &:hover{
            background:$bg !important;
            color: $fg !important;
        }
    }
}

.navbar-brand{
    color: $bg;
}

td{
    vertical-align: middle;
}